.navbar {
  background-color: #000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-item {
  color: #f00;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
}

.nav-item:hover {
  text-decoration: underline;
}

.logout-btn {
  background-color: #d40000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background-color: #a00000;
}
